/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-size: 3.5em;
   font-family: 'Noto Sans', sans-serif;
   text-align: center;
   outline: none;
 }

 ul {
   list-style-type: none;
 }

 footer {
   font-size: 0.5em;
   position: sticky;
   padding-top: 50px;
   bottom: 0px;
   width: 100vw;
   height: 50px;
   background-color: white;
 }

 .nav {
   padding: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .navbar-link, .navbar-link>a {
   margin: -2px;
   padding: 11px 0px;
   text-decoration: none;
   color: white;
   width: 100%;
   background: #6695ff;
   text-align: center;
 }

 .navbar-link:hover, .navbar-link>a:hover {
   color: black;
 }

 input[type="submit"], .btn-sign, a {
   background-color: white;
   color: black;
   border: 2px solid #6695ff;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 40px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 5px;
   margin: 15px auto;
 }

  input[type="submit"]:hover, .btn-sign:active, a:hover {
    background-color: #6695ff;
    color: white;
  }

  label {
    text-decoration: underline;
  }
  em {
    font-size: 1em;
  }

  input#user_email,
  input#user_password,
  input#user_password_confirmation {
    height: 80px;
    width: 80%;
    font-size: 1.2em;
    margin: 10px 0px;
    border: 2px #008CBA solid;
    padding: 10px;
  }

  input#user_email:focus,
  input#user_password:focus,
  input#user_password_confirmation:focus {
    border: 2px #082d9d solid;
    outline: none;
  }

  nav {
    border: none;
  }

  form#new_post {
    width: 100%;
  }

  textarea#post_message {
    width: 80%;
    height: 300px;
    margin: 5%;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 26px 32px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 26px 32px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 26px 32px 2px rgba(0,0,0,0.75);
    outline: none;
  }
